{% extends  'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center mt-5 ">
        <div class="col-lg-4 m-auto">
            <h1>Mot de passe oublié ? </h1>
            <form action="{{ path("security_forgotPassword") }}" method="POST">
                <div class="form-group">
                <small>Si vous ne vous vous souvenez plus de votre mot de passe vous pouvez demandé la reinitialisation. Un lien vous sera envoyé par mail si vous avez confirmé celle lié à votre compte.</small>
                    <input type="email" required placeholder="L'email lié à votre compte" class="form-control" name="emailFogot">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Demander la reinitilisation du mot de passe</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}