{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{asset("CSS/figures.css")}}">
{% endblock %}

{% block body %}
    <div id="homeImg" class="row rowHome mb-5 align-items-center justify-content-end">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <h1>Bienvenue sur SnowTricks</h1>
                    <h3>Le site spécialisés sur les figures de Snowboards</h3>
                    
                </div>
            </div>
            {# <div class="row align-items-end justify-content-end">
                <div class="col-lg-2 ">
                    
                </div>
            </div> #}
            <a href="#contentFigure" id="buttonContentFigure" class="btn btn-light">Figure</a>
        </div>
    </div>
    <div class="row w-75 m-auto justify-content-center mt-5">
    <div class="row w-100"  id="figures">
        {# On place ici les figures #}
    </div>
    <div id="contentFigure" class="row">
        <div class="col-lg-12 m-auto">
        <button id="seeMoreFigure" class="btn btn-primary">Voir plus</button>
        </div>
    </div>

    </div>
    

{% endblock %}
{% block javascripts %}
    <script src="{{ asset("/JS/AjaxFigure.js") }}"></script>
    <script>
        let ajaxFigure = new AjaxFigure('https://p6-symfony.numeriquesimple.fr/figure/ajax/figure' ,'seeMoreFigure');
    </script>
{% endblock %}
