/* --------- */
/* Page Home */
/* --------- */
.img{
    width: 100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
div.elementsFigure div.card{
    height: 100% !important;
}



/* ----------- */
/* Page figure */
/* ----------- */





/* ---------------- */
/* Page Edit figure */
/* ---------------- */
.imgLabelFigure{
    width: 200px;
    height: 170px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.videoLabelFigure{
    width: 200px;
    height: 170px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Suppression */
.fa-trash{
    color: rgb(253, 188, 126);
    transition: 0.5s; 
    margin-left: -5%;
}
.fa-trash:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(223, 164, 92)
}



/* ------ */
/* Autres */
/* ------ */
h4.card-title a:hover{
    color:grey;
}
.elementsFigure a:hover{
    text-decoration: none !important;
}

.card-header h5{
    color : #55595c;
}
img.mainImgIndex{
    width: auto;
    height: auto;
    max-width: 100%;
}

.listingImg{
    width: 100px !important;
    height: 100px !important;
}

.hiddenHome{
    display:none;
}

.hidden{
    display:none;
}



input:checked ~ label{
    border: rgb(100,150,250) solid 5px;
}

#mainVisuel{
    max-width: 100%;
}



footer div.row{
    max-width: 100% !important;
}

button a {
    color: #FFFFFF;
    text-decoration:none;
}

button:hover a, button:hover a:hover{
    color:#FFFFFF; 
    text-decoration:none;
}