{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-center mt-5 pt-5">
        <div class="col-lg-6">
            <h1>404 - Alors la j'ai pas trouvé... Sorry </h1>
            <h2>Si tu veux aller à la home ici :p <a href="{{ path('home') }}">--></a></h2>
        </div>
    </div>

{% endblock %}